.single-product-color-var{
    width: 22px;
    height: 22px;
    border-radius: 22px;
}

.variations{
    .label, select, .reset_variations{
        display: none!important;
    }
}

.sf-field-posts_per_page{
    display: none!important;
}

.product.sp-added-to-cart{
    .woocommerce-product-gallery ol, .sp-custom-color, .sp-custom-color-popup, .single_variation_wrap, .share-links-wrap{
        display: none!important;
    }
    .single-product-color-vars{
        pointer-events: none;
    }
    .single-product-color-var{
        display: none;
    }
}